.grid-container {
    background: #444;
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "aside main main main main"
    "aside main main main main"
    "footer footer footer footer footer";
}

.grid-item {
padding: 20px;
}

.grid-footer {
    background-color: #679;
    grid-area: footer;
}

.grid-header {
    background-color: #f96;
    grid-area: header;
}

.grid-main {
    background-color: #96f;
    grid-area: main;
}

.grid-aside {
    background-color: aqua;
    grid-area: aside;
}